<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.moon.pp.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.galaxy.moon.pp.model.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="productName" jdbcType="VARCHAR" property="productName" />
    <result column="productType" jdbcType="INTEGER" property="productType" />
    <result column="productDetailId" jdbcType="INTEGER" property="productDetailId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="rateReturn" jdbcType="DOUBLE" property="rateReturn" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="lowerLimit" jdbcType="INTEGER" property="lowerLimit" />
    <result column="autoInvest" jdbcType="INTEGER" property="autoInvest" />
    <result column="remainder" jdbcType="INTEGER" property="remainder" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="createTime" jdbcType="BIGINT" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleteTime" jdbcType="BIGINT" property="deleteTime" />
    <result column="deleteFlag" jdbcType="INTEGER" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productName, productType, productDetailId, amount, rateReturn, duration, lowerLimit, 
    autoInvest, remainder, status, createTime, updateTime, deleteTime, deleteFlag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.galaxy.moon.pp.model.Product">
    insert into tb_product (id, productName, productType, 
      productDetailId, amount, rateReturn, 
      duration, lowerLimit, autoInvest, 
      remainder, status, createTime, 
      updateTime, deleteTime, deleteFlag
      )
    values (#{id,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productType,jdbcType=INTEGER}, 
      #{productDetailId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{rateReturn,jdbcType=DOUBLE}, 
      #{duration,jdbcType=INTEGER}, #{lowerLimit,jdbcType=INTEGER}, #{autoInvest,jdbcType=INTEGER}, 
      #{remainder,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=BIGINT}, #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.galaxy.moon.pp.model.Product">
    insert into tb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productName != null">
        productName,
      </if>
      <if test="productType != null">
        productType,
      </if>
      <if test="productDetailId != null">
        productDetailId,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="rateReturn != null">
        rateReturn,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="lowerLimit != null">
        lowerLimit,
      </if>
      <if test="autoInvest != null">
        autoInvest,
      </if>
      <if test="remainder != null">
        remainder,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="deleteTime != null">
        deleteTime,
      </if>
      <if test="deleteFlag != null">
        deleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="productDetailId != null">
        #{productDetailId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="rateReturn != null">
        #{rateReturn,jdbcType=DOUBLE},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null">
        #{lowerLimit,jdbcType=INTEGER},
      </if>
      <if test="autoInvest != null">
        #{autoInvest,jdbcType=INTEGER},
      </if>
      <if test="remainder != null">
        #{remainder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.galaxy.moon.pp.model.Product">
    update tb_product
    <set>
      <if test="productName != null">
        productName = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        productType = #{productType,jdbcType=INTEGER},
      </if>
      <if test="productDetailId != null">
        productDetailId = #{productDetailId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="rateReturn != null">
        rateReturn = #{rateReturn,jdbcType=DOUBLE},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null">
        lowerLimit = #{lowerLimit,jdbcType=INTEGER},
      </if>
      <if test="autoInvest != null">
        autoInvest = #{autoInvest,jdbcType=INTEGER},
      </if>
      <if test="remainder != null">
        remainder = #{remainder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        deleteTime = #{deleteTime,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        deleteFlag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.galaxy.moon.pp.model.Product">
    update tb_product
    set productName = #{productName,jdbcType=VARCHAR},
      productType = #{productType,jdbcType=INTEGER},
      productDetailId = #{productDetailId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      rateReturn = #{rateReturn,jdbcType=DOUBLE},
      duration = #{duration,jdbcType=INTEGER},
      lowerLimit = #{lowerLimit,jdbcType=INTEGER},
      autoInvest = #{autoInvest,jdbcType=INTEGER},
      remainder = #{remainder,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      deleteTime = #{deleteTime,jdbcType=BIGINT},
      deleteFlag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>