<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.moon.pp.dao.ProjectMapper">

  <sql id="Base_Column_List">
    id, projectName, projectType, projectDetailId, amount, rateReturn, duration, lowerLimit, 
    autoInvest, remainder, status, createTime, updateTime, deleteTime, deleteFlag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.galaxy.moon.pp.model.bean.Project">
    select 
    <include refid="Base_Column_List" />
    from tb_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.galaxy.moon.pp.model.bean.Project">
    insert into tb_project (id, projectName, projectType, 
      projectDetailId, amount, rateReturn, 
      duration, lowerLimit, autoInvest, 
      remainder, status, createTime, 
      updateTime, deleteTime, deleteFlag
      )
    values (#{id,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, #{projectType,jdbcType=INTEGER}, 
      #{projectDetailId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{rateReturn,jdbcType=DOUBLE}, 
      #{duration,jdbcType=INTEGER}, #{lowerLimit,jdbcType=INTEGER}, #{autoInvest,jdbcType=INTEGER}, 
      #{remainder,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=BIGINT}, #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.galaxy.moon.pp.model.bean.Project">
    insert into tb_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectName != null">
        projectName,
      </if>
      <if test="projectType != null">
        projectType,
      </if>
      <if test="projectDetailId != null">
        projectDetailId,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="rateReturn != null">
        rateReturn,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="lowerLimit != null">
        lowerLimit,
      </if>
      <if test="autoInvest != null">
        autoInvest,
      </if>
      <if test="remainder != null">
        remainder,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="deleteTime != null">
        deleteTime,
      </if>
      <if test="deleteFlag != null">
        deleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=INTEGER},
      </if>
      <if test="projectDetailId != null">
        #{projectDetailId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="rateReturn != null">
        #{rateReturn,jdbcType=DOUBLE},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null">
        #{lowerLimit,jdbcType=INTEGER},
      </if>
      <if test="autoInvest != null">
        #{autoInvest,jdbcType=INTEGER},
      </if>
      <if test="remainder != null">
        #{remainder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.galaxy.moon.pp.model.bean.Project">
    update tb_project
    <set>
      <if test="projectName != null">
        projectName = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null">
        projectType = #{projectType,jdbcType=INTEGER},
      </if>
      <if test="projectDetailId != null">
        projectDetailId = #{projectDetailId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="rateReturn != null">
        rateReturn = #{rateReturn,jdbcType=DOUBLE},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null">
        lowerLimit = #{lowerLimit,jdbcType=INTEGER},
      </if>
      <if test="autoInvest != null">
        autoInvest = #{autoInvest,jdbcType=INTEGER},
      </if>
      <if test="remainder != null">
        remainder = #{remainder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        deleteTime = #{deleteTime,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        deleteFlag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.galaxy.moon.pp.model.bean.Project">
    update tb_project
    set projectName = #{projectName,jdbcType=VARCHAR},
      projectType = #{projectType,jdbcType=INTEGER},
      projectDetailId = #{projectDetailId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      rateReturn = #{rateReturn,jdbcType=DOUBLE},
      duration = #{duration,jdbcType=INTEGER},
      lowerLimit = #{lowerLimit,jdbcType=INTEGER},
      autoInvest = #{autoInvest,jdbcType=INTEGER},
      remainder = #{remainder,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      deleteTime = #{deleteTime,jdbcType=BIGINT},
      deleteFlag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>