<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.moon.pp.dao.RegUserBillMapper">
    <resultMap id="BaseResultMap" type="com.galaxy.moon.pp.model.bean.RegUserBill">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="billNo" jdbcType="VARCHAR" property="billNo"/>
        <result column="ipsBillNo" jdbcType="VARCHAR" property="ipsBillNo"/>
        <result column="userId" jdbcType="BIGINT" property="userId"/>
        <result column="ipsDoTime" jdbcType="VARCHAR" property="ipsDoTime"/>
        <result column="ipsAcctNo" jdbcType="VARCHAR" property="ipsAcctNo"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
        <result column="updateTime" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, billNo, ipsBillNo, userId, ipsDoTime, ipsAcctNo, status, createTime, updateTime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_regUser_bill
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByBillNo" resultType="com.galaxy.moon.pp.model.bean.RegUserBill">
        SELECT * from tb_regUser_bill
        WHERE billNo = #{billNo}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_regUser_bill
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.galaxy.moon.pp.model.bean.RegUserBill">
    insert into tb_regUser_bill (id, billNo, ipsBillNo, 
      userId, ipsDoTime, ipsAcctNo, 
      status, createTime, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{billNo,jdbcType=VARCHAR}, #{ipsBillNo,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{ipsDoTime,jdbcType=VARCHAR}, #{ipsAcctNo,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.galaxy.moon.pp.model.bean.RegUserBill">
        insert into tb_regUser_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="billNo != null">
                billNo,
            </if>
            <if test="ipsBillNo != null">
                ipsBillNo,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="ipsDoTime != null">
                ipsDoTime,
            </if>
            <if test="ipsAcctNo != null">
                ipsAcctNo,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="billNo != null">
                #{billNo,jdbcType=VARCHAR},
            </if>
            <if test="ipsBillNo != null">
                #{ipsBillNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="ipsDoTime != null">
                #{ipsDoTime,jdbcType=VARCHAR},
            </if>
            <if test="ipsAcctNo != null">
                #{ipsAcctNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.galaxy.moon.pp.model.bean.RegUserBill">
        update tb_regUser_bill
        <set>
            <if test="billNo != null">
                billNo = #{billNo,jdbcType=VARCHAR},
            </if>
            <if test="ipsBillNo != null">
                ipsBillNo = #{ipsBillNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=BIGINT},
            </if>
            <if test="ipsDoTime != null">
                ipsDoTime = #{ipsDoTime,jdbcType=VARCHAR},
            </if>
            <if test="ipsAcctNo != null">
                ipsAcctNo = #{ipsAcctNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.galaxy.moon.pp.model.bean.RegUserBill">
    update tb_regUser_bill
    set billNo = #{billNo,jdbcType=VARCHAR},
      ipsBillNo = #{ipsBillNo,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=BIGINT},
      ipsDoTime = #{ipsDoTime,jdbcType=VARCHAR},
      ipsAcctNo = #{ipsAcctNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>